<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @delete.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @delete.body %>
</p>

<%= link_to 'Edit', edit_delete_path(@delete) %> |
<%= link_to 'Back', deletes_path %>
